main {
    background-color: #A08FBA;
    width: auto; 
    padding-top: 20px;
    

    ul {
        display: flex;
        justify-content: space-between;
        margin: auto;
        padding: 15px;
        list-style-type: none;

        div {
            border: #6c4f96 solid 5px;
            border-radius: 5px;

            h3 {
                font-size: 35px;
                font-family: 'Fredoka One', cursive;
                color:$color-subtitulo;
                text-align: center;
                
            }

            p {
                font-size:$tam-navfont;
                font-family: Verdana, Geneva, Tahoma, sans-serif; 
                font-weight: normal;
                font-style: italic;
                color: $color-titulo;

                &:hover {
                    background-color:$color-fondocursor;
                }
            }
        }


    }
   
}