section {
    background-color: #d7c6f1;
    padding: 30px;

    p {
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
        font-size: $tam-navfont - 5px;
        font-weight: normal;
        font-style: italic;
        color: $color-titulo;
    }

    h5 {
        text-align: center;
        font-family: 'Fredoka One', cursive;
        color: white;
        font-size: 20px;
        border: $borde-footer;
        border-radius: 10px;
        background-color: $color-fondonav;
        padding-top: 6px;
    }

    img { 
        width: 900px;
        height: 800px;
        
    }
}