nav {
    background-color:$color-fondomenu;
    
    div {
        li {
            background-color: $color-fondonav;
            

            a{
                font-size: $tam-navfont;
                
                font-weight: bolder;
                font-style: italic;
                color: $color-titulo;
                
            }
        }
    }
    
}
     
    



