$color-titulo: #4c1c5e;
$tam-fontitulo: 50px;
$color-subtitulo: #743c88;
$color-navfont:  rgb(141, 50, 233);
$tam-navfont: 25px;
$color-fondonav: #d39cd8;
$color-fondomenu: #A08FBA;
$bordes-titulo:  5px #F0A6CA solid;
$color-fondocursor: #c8b1d3;
$borde-footer: #A08FBA 5px solid;
$color-fuentenav: white;




