
aside {
    h3 {
        font-size: $tam-fontitulo;
        font-family: fantasy;
        color: $color-titulo;
        text-align: center;
        background-color: $color-fondocursor;
    }
    h6 {
        font-family: "manuscrita";
    font-size: 20px;
    color: #4c1c5e;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 25px;
    
    }
}
iframe {
    width: 800px;
    height: 500px;
    border: $bordes-titulo;
    justify-content: center;
    padding: auto;
    
    
}